header, footer {
  background-color: var(--bs-gray-500);
  padding-bottom: 20px;
  padding-top: 20px;
}

main {
  background-color: var(--bs-gray-200);
}

.header-nav {
  align-items: center;
}

@media screen and (max-width: 575px) {
  .header-tagline {
    display: none;
  }
}

.change-lang {
  padding: 10px 25px;
  background-color: var(--bs-gray-500);
  border-radius: 5%;
}

.header-tagline {
  background: rgb(109, 179, 242);
  background: -moz-linear-gradient(
    top,
    rgba(109, 179, 242, 1) 0%,
    rgba(84, 163, 238, 1) 50%,
    rgba(231, 247, 56, 1) 51%,
    rgba(233, 247, 34, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(109, 179, 242, 1) 0%,
    rgba(84, 163, 238, 1) 50%,
    rgba(231, 247, 56, 1) 51%,
    rgba(233, 247, 34, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(109, 179, 242, 1) 0%,
    rgba(84, 163, 238, 1) 50%,
    rgba(231, 247, 56, 1) 51%,
    rgba(233, 247, 34, 1) 100%
  );
}

.container-hero {
  max-width: 1600px;
  min-width: 320px;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url("../images/Renault/Renault_450.png");
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Renault/Renault_450.png");
  background-color: var(--bs-black);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.lng-btn-contacts {
  margin-bottom: 20px;
}

@media (min-width: 450px) {
  .container-hero {
    width: 450px;
    height: 300px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url("../images/Renault/Renault_450.png");
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/Renault/Renault_450.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
  }
}

@media (min-width: 576px) {
  .container-hero {
    width: 576px;
    height: 384px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url("../images/Renault/Renault_576.png");
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/Renault/Renault_576.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
  }
}

@media (min-width: 768px) {
  .container-hero {
    width: 768px;
    height: 512px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url("../images/Renault/Renault_768.png");
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/Renault/Renault_768.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
  }
}

@media (min-width: 990px) {
  .container-hero {
    width: 990px;
    height: 660px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url("../images/Renault/Renault_992.png");
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/Renault/Renault_992.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
  }
}

@media (min-width: 1200px) {
  .container-hero {
    width: 1200px;
    height: 800px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Renault/Renault_1200.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
  }
}

.hero {
    margin: 75px auto 25px;
    color: whitesmoke;
  }


@media (min-width: 450px) {
  .hero {
    margin: 100px auto 30px;
    color: whitesmoke;
  }
}

@media (min-width: 576px) {
  .hero {
    margin: 150px auto 40px;
    color: whitesmoke;
  }
}

@media (min-width: 768px) {
  .hero {
    margin: 200px auto 50px;
    color: whitesmoke;
  }
}


@media (min-width: 990px) {
  .hero {
    margin: 250px auto 50px;
    color: whitesmoke;
  }
}

@media (min-width: 1200px) {
  .hero {
    margin: 300px auto 100px;
    color: whitesmoke;
  }
}

.container-about {
  padding-top: 50px;
}

.lng-about-us-1 {
  margin: 0;
}

.container-features,
.container-inform {
  padding-bottom: 50px;
  padding-top: 50px;
  
}

.lng-features {
  margin-bottom: 50px;
}

.container-inform {
  margin-top: 0;
  padding-top: 0;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--bs-blue);
}

.messengers {
  fill: currentColor;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.messengers:hover, 
.messengers:focus {
  color: #2196f3;
}